# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild
.eslintcache
.DS_Store
dist

#environment variables
.env

#yarn error logs
yarn-error.log